#myVideo {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .container{
    display: none;
  }
  .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(10px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    z-index: 1;
  }

.topper{
    z-index: 2;
  position: relative;
  text-align: center;
  color: white;
  font-family:'Courier New', Courier, monospace;
  padding: 130px;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #CA4583;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#CA4583  0 -3px 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  top: 150px;
}

.button-30:focus {
  box-shadow: #CA4583 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #CA4583 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #CA4583 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #CA4583 0 3px 7px inset;
  transform: translateY(2px);
}

.user{
    position: relative;
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 19px;
    padding: 15px;
    background: #00000069;
    border-radius: 15px;
    border:none;
    top: 40px;
    outline: #EB9BC8;
    transition: 0.8s ease all;
}

.user:focus{
    outline: 1px solid #00000069;
    padding: 20px;
}

.user::placeholder{
    text-align: center;
    font-family: monospace;
    font-size: 17px;
}

.regId{
  position: relative;
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 19px;
  padding: 15px;
  background: #00000069;
  border-radius: 15px;
  border:none;
  top: 50px;
  outline: #EB9BC8;
  transition: 0.8s ease all;
}

.regId:focus{
  outline: 1px solid #00000069;
  padding: 20px;
}

.regId::placeholder{
  text-align: center;
  font-family: monospace;
  font-size: 17px;
}

.pass{
    position: relative;
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 19px;
    padding: 15px;
    background: #00000069;
    border-radius: 15px;
    border:none;
    top: 60px;
    outline: #EB9BC8;
    transition: 0.8s ease all;
}

.pass:focus{
    outline: 1px solid #00000069;
    padding: 20px;
}

.pass::placeholder{
    text-align: center;
    font-family: monospace;
    font-size: 17px;
}

.statictype{
  font-size: 49px;
}

.autotype{
    font-size: 45px;
    font-family: monospace;
    font-weight: bold;
    color: #EB9BC8;
}

.loader{
  height: 100%;
  width: 100%;
  align-items: center;
  display: f;
  justify-content: center;
}

.result{
  font-size: 17px;
  position: relative;
  top: 200px;
}
